.main{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.main .category{
    width: 90%;
    height: fit-content;
    border-radius: 25px;
    background-color: #198c97;
}

.category .notice{
    margin: 30px 35px;
}

.main .category .notice .noticeHead{
    font-size: 39px;
    color: white;
    font-weight: 700;
}

.main .category .notice .noticeDesc{
    color: white;
    font-size: 14px;
}

hr{
    border: 1px solid white;
}

/* Items */

.items{
    margin-top: 50px;
}

.items .itemsCategory{
    margin-left: 35px;
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.items .itemsSubCategory{
    margin-left: 35px;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

.items .itemsSubCategory:hover{
    color: white;
    background-color: black;
}

/* table{
    margin-left: 35px;
}

table,thead,tbody,tr,td,th{
    border-collapse: collapse;
    border: 1px solid white;
} */

/* #num{
    padding: 5px 25px;
    color: white;
}

#name{
    padding: 5px 200px;
    color: white;
}

#price{
    padding: 5px 40px;
    color: white;
} */

.menu{
    margin-top: 100px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .khedaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.menu .khedaMenu img{
    width: 100%;
    margin: 50px 0px;
}


.menu .cafeMenu {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.menu .cafeMenu img{
    width: 100%;
    margin: 50px 0px;
}

/* .converter{
    width: 100%;
    border: 1px solid white;
} */